* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Work Sans", sans-serif;
}


.navbar {
    background-color: #222222;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}

.nav-link:hover{
    text-decoration: underline;
    color: #161513;
    transition: 0.1s;
}

.navbar-brand img {
    height: 80px;
    width: 80px;

}

@media (min-width: 1200px) {
    .container {
        padding: 0 150px;
    }
}


@media (min-width: 991px) {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        gap: 71px;
    }
}

.landing {
    background-color: #161513;
    padding: 20px;
    width: 100%;
}

.landing .landing-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.landing .landing-content img {
    width: 213px;
    margin-top: 109px;
    margin-bottom: 42px;
}

.landing .landing-content h1 {
    width: 670px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 63.36px;
    letter-spacing: 0%;
    margin-bottom: 39px;
}

.landing .landing-content h1 span {
    background: linear-gradient(to right, #FF8660, #9A33FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .landing .landing-content h1 {
        width: 300px;
        font-size: 30px;
    }
}

.landing .landing-content p {
    width: 679px;
    margin: 0 auto;
    color: #C5C5C5;
    font-size: 18px;
    line-height: 1, 6;
    letter-spacing: 2%;
    font-weight: 300;
    margin-bottom: 52px;
}

@media (max-width: 767px) {
    .landing .landing-content p {
        width: 300px;
        font-size: 12px;
    }
}

.landing .landing-content .buttons button {
    padding: 16px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.landing .landing-content .buttons button:first-child {
    background-color: #FFFFFF;

}

.landing .landing-content .buttons button:last-child {
    background-color: transparent;
    border: solid 2px #FFFFFF;
}

.landing .landing-content .buttons a {
    text-decoration: none;
}

.landing .landing-content .buttons button:first-child a {
    color: #161513;
    font-size: 21.38px;
}

.landing .landing-content .buttons button:last-child a {
    color: #FFFFFF;
    font-size: 21.38px;
}

.landing .landing-content .buttons button:first-child:hover {
    background-color: #161513;
    transition: 0.3s;
}

.landing .landing-content .buttons button:first-child:hover a {
    color: #FFFFFF;
}

.landing .landing-content .buttons button:last-child:hover {
    background-color: #FFFFFF;
    transition: 0.3s;
}

.landing .landing-content .buttons button:last-child:hover a {
    color: #161513;
}



@media (max-width: 767px) {
    .landing .landing-content .buttons button {
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 10px;
    }

    .landing .landing-content .buttons button:first-child a {
        font-size: 12px;
    }

    .landing .landing-content .buttons button:last-child a {
        font-size: 12px;
    }
}

.icons {
    background-color: #161513;
    width: 100%;
    padding: 10px 0;
}

.icons .icons-content {
    max-width: 100%;
}

.icons .icons-content h2 {
    width: 220px;
    height: 30px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 12%;
    margin-top: 48px;
    color: #C5C5C5;
    font-weight: 600;
}

.icons .icons-content .imgs {
    width: 555px;
    margin: 0 auto;
    margin-top: 48px;
}

.icons .icons-content .imgs img {
    width: 37px;
    height: 42px;
    margin-left: 60.45px;
}

@media (max-width: 767px) {
    .icons .icons-content .imgs {
        width: 245px;
    }

    .icons .icons-content .imgs img {
        width: 22px;
        margin-left: 20.45px;
    }
}

.card-sec {
    background-color: #161513;
    padding: 99px 0;
}

.card-sec h1 {
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(to bottom, #FF8660, #D5491D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    margin-top: 27px;
    gap: 15px;
}

.card {
    width: 420px;
    margin-bottom: 20px;
    background-color: #222222;
    border-radius: 25px 25px 25px 25px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .card-tx p {
    color: white;
}

.card-body .card-tx h5 {
    color: #FFFFFF;
}

@media (max-width: 420px) {
    .card {
        width: 280px;
    }
}

.experience {
    background-color: #161513;
}

.experience h1 {
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(to bottom, #5BADFF, #1373D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 57px;
}

.experience {
    color: #FFFFFF;
    padding-bottom: 107px;
}

.experience-content {
    padding-bottom: 20px;
}

.experience-content .ex-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-content .ex-icon h2 {
    font-weight: 800;
    font-size: 21.74px;
}

.experience-content .ex-icon img {
    width: 34.06884002685547px;
    height: 32px;
    margin-right: 11px;
}

.experience-content .ex-icon p {
    font-weight: 400;
    font-size: 14.49px;
    color: #8491A0;
}

.experience-content .ex-p {
    font-weight: 400;
    font-size: 14.49px;
    color: #8491A0;
    line-height: 1.6;
    margin-top: 23px;
}

.contact {
    background-color: #222222;
    padding: 82px 0;
}
.contact h1{
    font-size: 23.53px;
    font-weight: 700;
    color: #FFFFFF;
}

.contact p {
    font-weight: 300;
    font-size: 14.49px;
    color: #C5C5C5;
    line-height: 1.6;
    margin-top: 35px;
    margin-bottom: 22px;
}

.contact .contact-icon a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 27px;

}

